body.page {
    background-color: #000;
    font-family: "Poppins", sans-serif;
}

header li.nav-item.cta-nav a.nav-link {
    overflow: hidden;
    z-index: 1;
    background-color: transparent;
    border: 1px solid #d61f26;
    text-decoration: none;
}

header li.nav-item.cta-nav a.nav-link:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    display: block;
    background: url(../images/ArrowRight.svg);
    right: 24px;
    top: 4px;
    transition: 0.4s;
}

header li.nav-item.cta-nav a.nav-link:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transform: translateX(0);
    position: absolute;
    z-index: -1;
    background-color: #d61f26;
    transition: 0.4s ease-out;
    top: 0;
    left: 0;
}

header li.nav-item.cta-nav a.nav-link:hover {
    color: #fff !important;
}

header li.nav-item.cta-nav a.nav-link:hover:after {
    transform: translateX(100%);
    opacity: 1;
}

header .side-menu .menu nav li {
    display: block;
    width: 100%;
    text-align: center;
}

header .side-menu .menu nav li.cta-nav .mob-nav-link {
    background: #d61f26;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 22px !important;
    text-transform: capitalize;
    position: relative;
    display: block;
    text-align: left;
}

header .side-menu .menu nav li.cta-nav .mob-nav-link:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    display: block;
    background: url(../images/ArrowRight.svg);
    right: 24px;
    top: 11px;
    transition: 0.4s;
}

header .side-menu .menu nav li.cta-nav .mob-nav-link:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transform: translateX(0);
    position: absolute;
    z-index: -1;
    background-color: #d61f26;
    transition: 0.4s ease-out;
    top: 0;
    left: 0;
    border-radius: 30px;
}

header .side-menu .menu nav li.cta-nav .mob-nav-link:hover {
    color: #fff !important;
}

header .side-menu .menu nav li.cta-nav .mob-nav-link:hover:after {
    opacity: 1;
}
.link-group .menu-item {
    display: block;
}   
header.entry-header, footer.entry-footer {
    display: none;
}

.page-content, .entry-content, .entry-summary {
    margin: 0;
}

.site-main .page, .site-main .post {
    margin: 0;
}

.site-main .entry-header {
    display: none;
}

.site-main .page-content, .site-main .entry-content, .site-main .entry-summary {
    margin: 0;
}

.site-main .entry-footer {
    display: none;
}


.site li.sf-field-search {
    padding: 0;
}

.blog-list.search-list {
    padding-bottom: 0;
}

.site .search-filter-results .blog-list {
    padding-top: 0;
}

.page-template-template-news .blog-list .blog .profile h3 {
    display: none;
}

/*.blog-detail-banner:not(.no-bg)::before{background: rgba(0, 0, 0, 0.3);}
.blog-detail-banner.no-bg::before{background: rgba(0, 0, 0, 0.5);}*/
.search-filter-results p.no-result {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

@media screen and (min-width : 768px) {
  .s-automation ul.listing {
    display: grid;
    list-style: none;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    gap: 0px 20px;
    }
}

.blog-slider .content-box p a {
    text-decoration: none;
    color: #fff;
}
.single-news #author-bio-box, #author-bio-box{
    display: none;
}