<!-- cta section start -->
<section id="iframe_block_7c39a739df3a40c38cf7723391285acb" class=" cta"  >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12 text-center">
                <h2 class="title wow">
          Discover Next-Generation Satellite Mission Management        </h2>
                        <a href="https://www.cognitivespace.com/contact/" class="primary_btn wow">Request a demo</a>
              </div>
    </div>
  </div>
</section>
<!-- cta section end -->
