<form method="GET" id="search-filter-form-803" class="search-form" action="/search/">
  <ul>
    <li class="sf-field-search" data-sf-field-name="search" data-sf-field-type="search" data-sf-field-input-type="">
      <section class="blog-list search-list">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
              <div class="search wow">
                <input placeholder="Search …" id="keywords" name="keywords" class="form-control" type="text" value="">
                <button type="submit" name="search" value="search">Search <i class="bi bi-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </li>
  </ul>
</form>
